@import "tailwindcss";
/*
@import "pixel-retroui/dist/index.css";
*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #010B13;
  color: beige;
  font-family: 'Pixels';
}


@font-face {
  font-family: 'Pixels';
  src: url('D:\AshReact\Atlas\frontend\public\fonts\boldpixels\BoldPixels.ttf');
  font-weight: normal;
  font-style: normal;
}

.pixelsDiv {
  font-family: 'Pixels';
}

/* MainDashboard */
@layer components {


  .gradText {
    @apply text-transparent bg-clip-text 
    bg-gradient-to-r from-orange-500 to-yellow-400;
  }

  .gradText_2 {
    @apply text-transparent bg-clip-text font-bold
    bg-gradient-to-r from-orange-500 to-amber-900;
  }

  .gradDiv{
    @apply flex rounded-xl
        p-8 px-15 m-6
      bg-amber-900/20
  }

  .gradDivHalf{
    @apply rounded-xl
        p-8 px-15 m-6
        h-[30rem]
        text-2xl

    bg-black
        overflow-y-auto
  }

  .disBtn_Parent{
    @apply flex mr-4 text-transparent
        p-1 px-1
        rounded-full
        bg-gradient-to-r from-orange-400 to-amber-950/80
  }

  .disBtn_Child{
    @apply p-4 w-90 rounded-full
            text-2xl font-bold text-center
               bg-black
  }

  .disBtn_Text{
    @apply text-transparent bg-clip-text font-bold
    bg-gradient-to-r from-orange-500 to-yellow-400
  }

  .disBtn_2_Parent {
    @apply flex
        mr-4 p-1 px-1
        rounded-full  text-transparent
        bg-gradient-to-r from-orange-800/80 to-yellow-600
       
  }

  .disBtn_2_Child {
    @apply  p-3 w-83
            rounded-full
            text-2xl text-center  font-semibold
            bg-black
  }
}

/* Topbar */
@layer components {

  .topbar {
    @apply  flex sticky bottom-0
        bg-clip-border
        shadow-lg
        items-center
  }
}

/* Sidebar */
@layer components {

    .pixel-button {
        background-color: #000000;
        color: #fea239;
        border: 2px solid #df7716;
        padding: 10px 20px;
        font-size: 8px;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 4px 4px 0px #781212; /* Pixelated shadow */
        transition: all 0.1s ease;
    }

    .pixel-button:hover {
        background-color: #3e1313;
        color: #fff;
        box-shadow: 2px 2px 0px #000;
        transform: translate(2px, 2px); /* Simulate button press */
    }
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}


