@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: beige;
  font-family: 'Pixels';
}


@font-face {
  font-family: 'Pixels';
  src: url('D:\AshReact\Atlas\frontend\public\fonts\boldpixels\BoldPixels.ttf');
  font-weight: normal;
  font-style: normal;
}

.pixelsDiv {
  font-family: 'Pixels';
}


@layer components {
  .gradText {
    @apply text-transparent bg-clip-text 
    bg-gradient-to-r from-orange-500 to-yellow-400;
  }

  .gradText_2 {
    @apply text-transparent bg-clip-text font-bold
    bg-gradient-to-r from-orange-500 to-amber-900;
  }

  .gradDiv{
    @apply flex rounded-xl
        p-8 px-15 m-6
      bg-amber-900/20
  }

  .gradDivHalf{
    @apply bg-gradient-to-r  from-orange-800/10 to-amber-600/50
        rounded-xl
        p-8
        px-15

  }
}
